[submodule "corpus/Ref/json-schema-spec"]
	path = corpus/Ref/json-schema-spec
	url = https://github.com/json-schema-org/json-schema-spec.git
[submodule "corpus/Ref/JSON-Schema-Test-Suite"]
	path = corpus/Ref/JSON-Schema-Test-Suite
	url = https://github.com/json-schema-org/JSON-Schema-Test-Suite.git
[submodule "corpus/Store/schemastore"]
	path = corpus/Store/schemastore
	url = https://github.com/SchemaStore/schemastore.git
[submodule "corpus/Store/schemastore-analysis"]
	path = corpus/Store/schemastore-analysis
	url = https://github.com/miniHive/schemastore-analysis
[submodule "corpus/JSC/json-schema-corpus"]
	path = corpus/JSC/json-schema-corpus
	url = https://github.com/sdbs-uni-p/json-schema-corpus
[submodule "corpus/Misc/kubernetes"]
	path = corpus/Misc/kubernetes
	url = https://github.com/instrumenta/kubernetes-json-schema
[submodule "corpus/Misc/washington-post"]
	path = corpus/Misc/washington-post
	url = https://github.com/washingtonpost/ans-schema
[submodule "corpus/Misc/apidae"]
	path = corpus/Misc/apidae
	url = https://github.com/apidae-tourisme/apidae-sit-schemas
[submodule "corpus/Misc/sp-simulateurs"]
	path = corpus/Misc/sp-simulateurs
	url = https://gitlab.com/pidila/sp-simulateurs-data.git
[submodule "corpus/Misc/openAPI"]
	path = corpus/Misc/openAPI
	url = https://github.com/OAI/OpenAPI-Specification.git
[submodule "corpus/Misc/snowplow"]
	path = corpus/Misc/snowplow
	url = https://github.com/snowplow/iglu-central
