{
  "info": {
    "title": "La bonne alternance",
    "version": "1.281.0",
    "description": "Cherchez des formations et des emplois en alternance",
    "license": {
      "name": "MIT"
    },
    "contact": {
      "name": "La bonne alternance",
      "url": "https://labonnealternance.apprentissage.beta.gouv.fr",
      "email": "labonnealternance@apprentissage.beta.gouv.fr"
    }
  },
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://labonnealternance-recette.apprentissage.beta.gouv.fr/api",
      "description": "recette"
    }
  ],
  "components": {
    "securitySchemes": {
      "api-key": {
        "type": "apiKey",
        "name": "authorization",
        "in": "header"
      }
    },
    "schemas": {
      "RomeWithLabel": {
        "type": "object",
        "properties": {
          "codeRome": {
            "type": "string"
          },
          "intitule": {
            "type": "string"
          }
        },
        "required": [
          "codeRome",
          "intitule"
        ],
        "additionalProperties": false
      },
      "MetierEnrichi": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Le nom du métier",
            "example": "Décor et accessoires pour le spectacle"
          },
          "romes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "La liste des codes ROMEs correspondants au métier",
            "example": [
              "L1503",
              "L1502",
              "L1506"
            ]
          },
          "rncps": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "La liste des codes RNCPs correspondants au métier",
            "example": [
              "RNCP500",
              "RNCP806"
            ]
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Indique que l'objet est de type job",
            "example": "job"
          },
          "romeTitles": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/RomeWithLabel"
            },
            "description": "Optionnel : tableau de couples romes / libellés"
          }
        },
        "required": [
          "label",
          "romes"
        ],
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Données contextuelles liées à l'erreur",
            "example": {
              "validationError": {
                "issues": [
                  {
                    "code": "invalid_type",
                    "expected": "number",
                    "received": "nan",
                    "path": [
                      "longitude"
                    ],
                    "message": "Number attendu"
                  }
                ],
                "name": "ZodError",
                "statusCode": 400,
                "code": "FST_ERR_VALIDATION",
                "validationContext": "querystring"
              }
            }
          },
          "message": {
            "type": "string",
            "description": "Un message explicatif de l'erreur",
            "example": "querystring.longitude: Number attendu"
          },
          "error": {
            "type": "string",
            "description": "Le type générique de l'erreur",
            "example": "Bad Request"
          },
          "statusCode": {
            "type": "number",
            "description": "Le status code retourné",
            "example": 400
          }
        },
        "required": [
          "message",
          "error",
          "statusCode"
        ],
        "additionalProperties": false
      },
      "ZLbarError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "message"
        ],
        "additionalProperties": false
      },
      "RomeDetail": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "libelle": {
            "type": "string"
          },
          "definition": {
            "type": "string"
          },
          "acces": {
            "type": "string"
          },
          "condition": {
            "type": "string"
          },
          "riasecMajeur": {
            "type": "string"
          },
          "riasecMineur": {
            "type": "string"
          },
          "codeIsco": {
            "type": [
              "string",
              "null"
            ]
          },
          "particulier": {
            "type": "boolean"
          },
          "domaineProfessionnel": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "libelle": {
                "type": "string"
              },
              "grandDomaine": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "libelle": {
                    "type": "string"
                  }
                },
                "required": [
                  "code",
                  "libelle"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "code",
              "libelle",
              "grandDomaine"
            ],
            "additionalProperties": false
          },
          "appellations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "libelle": {
                  "type": "string"
                },
                "libelleCourt": {
                  "type": "string"
                },
                "particulier": {
                  "type": "boolean"
                }
              },
              "required": [
                "code",
                "libelle",
                "libelleCourt",
                "particulier"
              ],
              "additionalProperties": false
            }
          },
          "competencesDeBase": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "libelle": {
                  "type": "string"
                },
                "noeudCompetence": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "libelle": {
                      "type": "string"
                    },
                    "racineCompetence": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "libelle": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "libelle"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "code",
                    "libelle",
                    "racineCompetence"
                  ],
                  "additionalProperties": false
                },
                "typeCompetence": {
                  "type": "string"
                },
                "riasecMineur": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "riasecMajeur": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "competenceCle": {
                  "type": [
                    "boolean",
                    "null"
                  ]
                },
                "frequence": {
                  "type": [
                    "number",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "libelle",
                "noeudCompetence",
                "typeCompetence"
              ],
              "additionalProperties": false
            }
          },
          "groupesCompetencesSpecifiques": {
            "type": "array",
            "items": {}
          },
          "environnementsTravail": {
            "type": "array",
            "items": {}
          },
          "themes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "libelle": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "libelle"
              ],
              "additionalProperties": false
            }
          },
          "mobilitesProchesVersMetiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "metierCible": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "libelle": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "libelle"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "metierCible"
              ],
              "additionalProperties": false
            }
          },
          "mobilitesEvolutionsVersMetiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "metierCible": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "libelle": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "libelle"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "metierCible"
              ],
              "additionalProperties": false
            }
          },
          "mobilitesProchesVersAppellations": {
            "type": "array",
            "items": {}
          },
          "mobilitesEvolutionsVersAppellations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "appellationCible": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "libelle": {
                      "type": "string"
                    },
                    "libelleCourt": {
                      "type": "string"
                    },
                    "metier": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "libelle": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "libelle"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "code",
                    "libelle",
                    "libelleCourt",
                    "metier"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "appellationCible"
              ],
              "additionalProperties": false
            }
          },
          "mobilitesProchesAppellationsVersMetiers": {
            "type": "array",
            "items": {}
          },
          "mobilitesEvolutionsAppellationsVersMetiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "metierCible": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "libelle": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "libelle"
                  ],
                  "additionalProperties": false
                },
                "appellationOrigine": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "libelle": {
                      "type": "string"
                    },
                    "libelleCourt": {
                      "type": "string"
                    },
                    "metier": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "libelle": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "libelle"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "code",
                    "libelle",
                    "libelleCourt",
                    "metier"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "metierCible",
                "appellationOrigine"
              ],
              "additionalProperties": false
            }
          },
          "mobilitesProchesAppellationsVersAppellations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "appellationOrigine": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "libelle": {
                      "type": "string"
                    },
                    "libelleCourt": {
                      "type": "string"
                    },
                    "metier": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "libelle": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "libelle"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "code",
                    "libelle",
                    "libelleCourt",
                    "metier"
                  ],
                  "additionalProperties": false
                },
                "appellationCible": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "libelle": {
                      "type": "string"
                    },
                    "libelleCourt": {
                      "type": "string"
                    },
                    "metier": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "libelle": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "libelle"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "code",
                    "libelle",
                    "libelleCourt",
                    "metier"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "appellationOrigine",
                "appellationCible"
              ],
              "additionalProperties": false
            }
          },
          "mobilitesEvolutionsAppellationsVersAppellations": {
            "type": "array",
            "items": {}
          }
        },
        "required": [
          "code",
          "libelle",
          "definition",
          "acces",
          "condition",
          "riasecMajeur",
          "riasecMineur",
          "particulier",
          "domaineProfessionnel",
          "appellations",
          "competencesDeBase",
          "groupesCompetencesSpecifiques",
          "environnementsTravail",
          "themes",
          "mobilitesProchesVersMetiers",
          "mobilitesEvolutionsVersMetiers",
          "mobilitesProchesVersAppellations",
          "mobilitesEvolutionsVersAppellations",
          "mobilitesProchesAppellationsVersMetiers",
          "mobilitesEvolutionsAppellationsVersMetiers",
          "mobilitesProchesAppellationsVersAppellations",
          "mobilitesEvolutionsAppellationsVersAppellations"
        ],
        "additionalProperties": false,
        "description": "Détail du code ROME selon la nomenclature Pole emploi"
      },
      "Delegation": {
        "type": "object",
        "properties": {
          "siret_code": {
            "type": "string",
            "description": "SIRET de l'établissement"
          },
          "email": {
            "type": "string",
            "description": "Email gestionnaire de l'établissement"
          },
          "cfa_read_company_detail_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date de consultation de l'offre"
          }
        },
        "required": [
          "siret_code",
          "email"
        ],
        "additionalProperties": false
      },
      "JobWritable": {
        "type": "object",
        "properties": {
          "rome_label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Libellé du métier concerné"
          },
          "rome_appellation_label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Libellé de l'appelation ROME"
          },
          "job_level_label": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Cap, autres formations niveau (Infrabac)",
              "BP, Bac, autres formations niveau (Bac)",
              "BTS, DEUST, autres formations niveau (Bac+2)",
              "Licence, autres formations niveau (Bac+3)",
              "Master, titre ingénieur, autres formations niveau (Bac+5)",
              "Indifférent"
            ],
            "description": "Niveau de formation visé en fin de stage"
          },
          "job_start_date": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date de début de l'alternance"
          },
          "job_description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Description de l'offre d'alternance"
          },
          "job_employer_description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Description de l'employer proposant l'offre d'alternance"
          },
          "rome_code": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Liste des romes liés au métier"
          },
          "rome_detail": {
            "$ref": "#/components/schemas/RomeDetail"
          },
          "job_creation_date": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date de creation de l'offre"
          },
          "job_expiration_date": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date d'expiration de l'offre"
          },
          "job_update_date": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date de dernière mise à jour de l'offre"
          },
          "job_last_prolongation_date": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date de dernière prolongation de l'offre"
          },
          "job_prolongation_count": {
            "type": [
              "number",
              "null"
            ],
            "description": "Nombre de fois où l'offre a été prolongée"
          },
          "relance_mail_sent": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Statut de l'envoi du mail de relance avant expiration"
          },
          "job_status": {
            "type": "string",
            "enum": [
              "Active",
              "Pourvue",
              "Annulée",
              "En attente"
            ],
            "description": "Statut de l'offre"
          },
          "job_status_comment": {
            "type": [
              "string",
              "null"
            ],
            "description": "Raison de la suppression de l'offre"
          },
          "job_type": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Apprentissage",
                "Professionnalisation"
              ]
            },
            "description": "Type de contrat"
          },
          "is_multi_published": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Definit si l'offre est diffusée sur d'autres jobboard que La bonne alternance"
          },
          "job_delegation_count": {
            "type": [
              "number",
              "null"
            ],
            "description": "Nombre de délégations"
          },
          "delegations": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Delegation"
            },
            "description": "Liste des délégations"
          },
          "is_disabled_elligible": {
            "type": [
              "boolean",
              "null"
            ],
            "default": false,
            "description": "Poste ouvert aux personnes en situation de handicap"
          },
          "job_count": {
            "type": [
              "number",
              "null"
            ],
            "default": 1,
            "description": "Nombre de poste(s) ouvert(s) pour cette offre"
          },
          "job_duration": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 6,
            "maximum": 36,
            "description": "Durée du contrat en mois"
          },
          "job_rythm": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Indifférent",
              "1 jour / 4 jours",
              "2 jours / 3 jours",
              "1 semaine / 1 semaine",
              "2 semaines / 3 semaines",
              "6 semaines / 6 semaines"
            ],
            "description": "Répartition de la présence de l'alternant en formation/entreprise"
          },
          "custom_address": {
            "type": [
              "string",
              "null"
            ],
            "description": "Adresse personnalisée de l'entreprise"
          },
          "custom_geo_coordinates": {
            "type": [
              "string",
              "null"
            ],
            "description": "Latitude/Longitude de l'adresse personnalisée de l'entreprise"
          },
          "stats_detail_view": {
            "type": [
              "number",
              "null"
            ],
            "description": "Nombre de vues de la page de détail"
          },
          "stats_search_view": {
            "type": [
              "number",
              "null"
            ],
            "description": "Nombre de vues sur une page de recherche"
          }
        },
        "required": [
          "job_start_date",
          "rome_code",
          "job_status",
          "job_type"
        ],
        "additionalProperties": false
      },
      "Job": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JobWritable"
          },
          {
            "type": "object",
            "properties": {
              "_id": {
                "description": "Identifiant unique"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "RecruiterWritable": {
        "type": "object",
        "properties": {
          "establishment_id": {
            "type": "string",
            "default": "Random UUID",
            "description": "Identifiant de formulaire unique"
          },
          "establishment_raison_sociale": {
            "type": [
              "string",
              "null"
            ],
            "description": "Raison social de l'établissement"
          },
          "establishment_enseigne": {
            "type": [
              "string",
              "null"
            ],
            "description": "Enseigne de l'établissement"
          },
          "establishment_siret": {
            "type": "string",
            "description": "Numéro SIRET de l'établissement"
          },
          "address_detail": {
            "description": "Détail de l'adresse de l'établissement"
          },
          "address": {
            "type": [
              "string",
              "null"
            ],
            "description": "Adresse de l'établissement"
          },
          "geo_coordinates": {
            "type": [
              "string",
              "null"
            ],
            "description": "Coordonnées geographique de l'établissement"
          },
          "geopoint": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "coordinates": {
                "type": "array",
                "items": {
                  "type": "number"
                },
                "minItems": 2,
                "maxItems": 2
              },
              "type": {
                "type": "string"
              }
            },
            "required": [
              "coordinates",
              "type"
            ],
            "additionalProperties": false,
            "description": "Coordonnées geographique de l'établissement"
          },
          "is_delegated": {
            "type": "boolean",
            "default": false
          },
          "cfa_delegated_siret": {
            "type": [
              "string",
              "null"
            ],
            "description": "Siret de l'organisme de formation gestionnaire des offres de l'entreprise"
          },
          "last_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Nom du contact"
          },
          "first_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Prenom du contact"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "description": "Téléphone du contact"
          },
          "email": {
            "type": "string",
            "description": "Email du contact"
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            },
            "description": "Liste des offres"
          },
          "origin": {
            "type": [
              "string",
              "null"
            ],
            "description": "Origine de la creation de l'établissement"
          },
          "opco": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opco de rattachement de l'établissement"
          },
          "idcc": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identifiant de la convention collective de l'établissement"
          },
          "status": {
            "type": "string",
            "enum": [
              "Actif",
              "Archivé",
              "En attente de validation"
            ],
            "default": "Actif",
            "description": "Statut de l'établissement"
          },
          "naf_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Code NAF de l'établissement"
          },
          "naf_label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Libellé NAF de l'établissement"
          },
          "establishment_size": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tranche d'effectif salariale de l'établissement"
          },
          "establishment_creation_date": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date de creation de l'établissement"
          }
        },
        "required": [
          "establishment_id",
          "establishment_siret",
          "is_delegated",
          "email",
          "jobs",
          "status"
        ],
        "additionalProperties": false
      },
      "Recruiter": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RecruiterWritable"
          },
          {
            "type": "object",
            "properties": {
              "_id": {
                "description": "Identifiant unique"
              },
              "distance": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "createdAt": {
                "type": "string",
                "description": "Date de creation"
              },
              "updatedAt": {
                "type": "string",
                "description": "Date de mise à jour"
              }
            },
            "required": [
              "createdAt",
              "updatedAt"
            ],
            "additionalProperties": false
          }
        ]
      },
      "Contact": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "email": {
            "type": [
              "string",
              "null"
            ],
            "description": "L'adresse email du contact de référence",
            "example": "contact@domaine.fr"
          },
          "iv": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Le nom du contact de référence",
            "example": "Mme Dupont"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "description": "Le numéro de téléphone du contact de référence",
            "example": "0X XX XX XX XX"
          },
          "info": {
            "type": "string",
            "description": "Des informations complémentaires concernant le contact de référence"
          }
        },
        "additionalProperties": false,
        "description": "Informations de contact"
      },
      "Place": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "distance": {
            "type": [
              "number",
              "null"
            ],
            "description": "La distance du lieu par rapport au centre de recherche en kilomètres",
            "example": 3.5
          },
          "fullAddress": {
            "type": [
              "string",
              "null"
            ],
            "description": "L'adresse postale complète du lieu",
            "example": "4 RUE DES ROSIERS PARIS 4 75004"
          },
          "latitude": {
            "type": [
              "number",
              "null"
            ],
            "description": "La latitude du lieu",
            "example": 48.845
          },
          "longitude": {
            "type": [
              "number",
              "null"
            ],
            "description": "La longitude du lieu",
            "example": 2.3752
          },
          "city": {
            "type": [
              "string",
              "null"
            ],
            "description": "La ville",
            "example": "PARIS 4"
          },
          "address": {
            "type": [
              "string",
              "null"
            ],
            "description": "L'adresse du lieu",
            "example": "4 RUE DES ROSIERS"
          },
          "cedex": {
            "type": [
              "string",
              "null"
            ],
            "description": "L'éventuel CEDEX de l'adresse"
          },
          "zipCode": {
            "type": [
              "string",
              "null"
            ],
            "description": "Le code postal du lieu",
            "example": "75004"
          },
          "insee": {
            "type": [
              "string",
              "null"
            ],
            "description": "L'éventuel code Insee de la commune du lieu",
            "example": "75004"
          },
          "departementNumber": {
            "type": [
              "string",
              "null"
            ],
            "description": "Numéro de département",
            "example": "44"
          },
          "region": {
            "type": [
              "string",
              "null"
            ],
            "description": "Région administrative",
            "example": "11"
          },
          "remoteOnly": {
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "required": [
          "distance"
        ],
        "additionalProperties": false,
        "description": "Un lieu. Selon le contexte il peut s'agir du lieu de formation, du lieu du centre de formation responsable de la formation ou de l'emplacement d'une entreprise offrant une opportunité d'emploi"
      },
      "LbacJob": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "employeurDescription": {
            "type": [
              "string",
              "null"
            ]
          },
          "creationDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "type": [
              "string",
              "null"
            ]
          },
          "contractType": {
            "type": [
              "string",
              "null"
            ]
          },
          "contractDescription": {
            "type": [
              "string",
              "null"
            ]
          },
          "duration": {
            "type": [
              "string",
              "null"
            ]
          },
          "jobStartDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "romeDetails": {
            "$ref": "#/components/schemas/RomeDetail"
          },
          "rythmeAlternance": {
            "type": [
              "string",
              "null"
            ]
          },
          "elligibleHandicap": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "dureeContrat": {
            "type": [
              "string",
              "null"
            ]
          },
          "quantiteContrat": {
            "type": [
              "number",
              "null"
            ]
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Active",
              "Pourvue",
              "Annulée",
              "En attente"
            ]
          }
        },
        "required": [
          "description",
          "creationDate",
          "id",
          "contractType"
        ],
        "additionalProperties": false
      },
      "Rome": {
        "type": "object",
        "properties": {
          "code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Un code ROME provenant de la nomenclature des métiers de Pôle emploi",
            "example": "F1603"
          },
          "label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Le libellé correspondant au code ROME",
            "example": "Installation d'équipements sanitaires et thermiques"
          }
        },
        "required": [
          "code"
        ],
        "additionalProperties": false
      },
      "PeJob": {
        "type": "object",
        "properties": {
          "ideaType": {
            "type": "string",
            "enum": [
              "offres_emploi_partenaires"
            ]
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "place": {
            "$ref": "#/components/schemas/Place"
          },
          "company": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "La raison sociale de l'entreprise",
                "example": "ECOLE DE TRAVAIL ORT"
              },
              "siret": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^[0-9]{14}$",
                "description": "Le numéro de SIRET de l'établissement",
                "example": "78424186100011"
              },
              "size": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "La tranche d'effectifs de l'entreprise"
              },
              "logo": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "L'url du logo de l'entreprise"
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "La description de l'entreprise"
              },
              "socialNetwork": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Un lien vers un réseau social présentant l'entreprise"
              },
              "url": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Un lien vers le site de l'entreprise"
              },
              "id": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Lieu de formation seulement : l'identifiant du lieu de formation"
              },
              "uai": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Lieu de formation seulement : l'uai du lieu de formation"
              },
              "place": {
                "$ref": "#/components/schemas/Place"
              },
              "mandataire": {
                "type": [
                  "boolean",
                  "null"
                ],
                "description": "Indique si l'offre est déposée par un CFA mandataire (offres Matcha seulement)"
              },
              "creationDate": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "headquarter": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "siret": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[0-9]{14}$",
                    "description": "Le numéro de SIRET de l'établissement",
                    "example": "78424186100011"
                  },
                  "id": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : l'identifiant de l'établissement gestionnaire"
                  },
                  "uai": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : l'uai de l'établissement gestionnaire"
                  },
                  "type": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : le type de l'établissement gestionnaire"
                  },
                  "hasConvention": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : indique si l'établissement gestionnaire est conventionné"
                  },
                  "place": {
                    "$ref": "#/components/schemas/Place"
                  },
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "La raison sociale du centre de formation auquel est affilié la formation",
                    "example": "ECOLE DE TRAVAIL ORT"
                  }
                },
                "required": [
                  "siret",
                  "id",
                  "uai",
                  "type",
                  "hasConvention",
                  "place",
                  "name"
                ],
                "additionalProperties": false
              },
              "opco": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "url": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "label",
                  "url"
                ],
                "additionalProperties": false
              }
            },
            "additionalProperties": false,
            "description": "Les informations de la société. Selon le contexte il peut s'agir du centre de formation ou de l'entreprise offrant une opportunité d'emploi."
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          },
          "job": {
            "$ref": "#/components/schemas/LbacJob"
          },
          "romes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Rome"
            }
          },
          "nafs": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "label": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "additionalProperties": false
            }
          }
        },
        "required": [
          "ideaType",
          "contact",
          "place",
          "company",
          "url",
          "job",
          "romes",
          "nafs"
        ],
        "additionalProperties": false
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "message": {},
          "status": {
            "type": "number"
          },
          "statusText": {
            "type": "string"
          },
          "error_messages": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Une liste d'erreurs détaillées. Ex : les erreurs de paramétrage de la requête.",
            "example": [
              "romes : Badly formatted rome codes. Rome code must be one letter followed by 4 digit number. ex : A1234",
              "romes : Too many rome codes. Maximum is 20."
            ]
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "LbaJob": {
        "type": "object",
        "properties": {
          "ideaType": {
            "type": "string",
            "enum": [
              "offres_emploi_lba"
            ]
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "place": {
            "$ref": "#/components/schemas/Place"
          },
          "company": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "La raison sociale de l'entreprise",
                "example": "ECOLE DE TRAVAIL ORT"
              },
              "siret": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^[0-9]{14}$",
                "description": "Le numéro de SIRET de l'établissement",
                "example": "78424186100011"
              },
              "size": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "La tranche d'effectifs de l'entreprise"
              },
              "logo": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "L'url du logo de l'entreprise"
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "La description de l'entreprise"
              },
              "socialNetwork": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Un lien vers un réseau social présentant l'entreprise"
              },
              "url": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Un lien vers le site de l'entreprise"
              },
              "id": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Lieu de formation seulement : l'identifiant du lieu de formation"
              },
              "uai": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Lieu de formation seulement : l'uai du lieu de formation"
              },
              "place": {
                "$ref": "#/components/schemas/Place"
              },
              "mandataire": {
                "type": [
                  "boolean",
                  "null"
                ],
                "description": "Indique si l'offre est déposée par un CFA mandataire (offres Matcha seulement)"
              },
              "creationDate": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "headquarter": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "siret": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[0-9]{14}$",
                    "description": "Le numéro de SIRET de l'établissement",
                    "example": "78424186100011"
                  },
                  "id": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : l'identifiant de l'établissement gestionnaire"
                  },
                  "uai": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : l'uai de l'établissement gestionnaire"
                  },
                  "type": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : le type de l'établissement gestionnaire"
                  },
                  "hasConvention": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : indique si l'établissement gestionnaire est conventionné"
                  },
                  "place": {
                    "$ref": "#/components/schemas/Place"
                  },
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "La raison sociale du centre de formation auquel est affilié la formation",
                    "example": "ECOLE DE TRAVAIL ORT"
                  }
                },
                "required": [
                  "siret",
                  "id",
                  "uai",
                  "type",
                  "hasConvention",
                  "place",
                  "name"
                ],
                "additionalProperties": false
              },
              "opco": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "url": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "label",
                  "url"
                ],
                "additionalProperties": false
              }
            },
            "additionalProperties": false,
            "description": "Les informations de la société. Selon le contexte il peut s'agir du centre de formation ou de l'entreprise offrant une opportunité d'emploi."
          },
          "id": {
            "type": [
              "string",
              "null"
            ]
          },
          "diplomaLevel": {
            "type": [
              "string",
              "null"
            ],
            "description": "Le niveau de la formation.",
            "example": "3 (CAP...)"
          },
          "job": {
            "$ref": "#/components/schemas/LbacJob"
          },
          "romes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Rome"
            }
          },
          "nafs": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "label": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "additionalProperties": false
            }
          },
          "applicationCount": {
            "type": "number"
          }
        },
        "required": [
          "ideaType",
          "contact",
          "place",
          "company",
          "id",
          "job",
          "romes",
          "nafs",
          "applicationCount"
        ],
        "additionalProperties": false
      },
      "LbaCompany": {
        "type": "object",
        "properties": {
          "ideaType": {
            "type": "string",
            "enum": [
              "recruteurs_lba"
            ]
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "place": {
            "$ref": "#/components/schemas/Place"
          },
          "company": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "La raison sociale de l'entreprise",
                "example": "ECOLE DE TRAVAIL ORT"
              },
              "siret": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^[0-9]{14}$",
                "description": "Le numéro de SIRET de l'établissement",
                "example": "78424186100011"
              },
              "size": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "La tranche d'effectifs de l'entreprise"
              },
              "logo": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "L'url du logo de l'entreprise"
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "La description de l'entreprise"
              },
              "socialNetwork": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Un lien vers un réseau social présentant l'entreprise"
              },
              "url": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Un lien vers le site de l'entreprise"
              },
              "id": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Lieu de formation seulement : l'identifiant du lieu de formation"
              },
              "uai": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Lieu de formation seulement : l'uai du lieu de formation"
              },
              "place": {
                "$ref": "#/components/schemas/Place"
              },
              "mandataire": {
                "type": [
                  "boolean",
                  "null"
                ],
                "description": "Indique si l'offre est déposée par un CFA mandataire (offres Matcha seulement)"
              },
              "creationDate": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "headquarter": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "siret": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[0-9]{14}$",
                    "description": "Le numéro de SIRET de l'établissement",
                    "example": "78424186100011"
                  },
                  "id": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : l'identifiant de l'établissement gestionnaire"
                  },
                  "uai": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : l'uai de l'établissement gestionnaire"
                  },
                  "type": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : le type de l'établissement gestionnaire"
                  },
                  "hasConvention": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : indique si l'établissement gestionnaire est conventionné"
                  },
                  "place": {
                    "$ref": "#/components/schemas/Place"
                  },
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "La raison sociale du centre de formation auquel est affilié la formation",
                    "example": "ECOLE DE TRAVAIL ORT"
                  }
                },
                "required": [
                  "siret",
                  "id",
                  "uai",
                  "type",
                  "hasConvention",
                  "place",
                  "name"
                ],
                "additionalProperties": false
              },
              "opco": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "url": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "label",
                  "url"
                ],
                "additionalProperties": false
              }
            },
            "additionalProperties": false,
            "description": "Les informations de la société. Selon le contexte il peut s'agir du centre de formation ou de l'entreprise offrant une opportunité d'emploi."
          },
          "url": {
            "type": "null"
          },
          "nafs": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "label": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "additionalProperties": false
            }
          },
          "applicationCount": {
            "type": "number"
          }
        },
        "required": [
          "ideaType",
          "contact",
          "place",
          "company",
          "url",
          "nafs",
          "applicationCount"
        ],
        "additionalProperties": false
      },
      "LbacError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Le type générique de l'erreur",
            "example": "wrong_parameters"
          },
          "error_messages": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Une liste d'erreurs détaillées. Ex : les erreurs de paramétrage de la requête.",
            "example": [
              "romes : Badly formatted rome codes. Rome code must be one letter followed by 4 digit number. ex : A1234",
              "romes : Too many rome codes. Maximum is 20."
            ]
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Session de formation": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "endDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPermanentEntry": {
            "type": "boolean"
          }
        },
        "required": [
          "isPermanentEntry"
        ],
        "additionalProperties": false
      },
      "Durée de session en jours": {
        "type": [
          "number",
          "null"
        ]
      },
      "Training": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "objectif": {
            "type": [
              "string",
              "null"
            ]
          },
          "sessions": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Session de formation"
            }
          },
          "duration": {
            "$ref": "#/components/schemas/Durée de session en jours"
          }
        },
        "required": [
          "description",
          "objectif",
          "duration"
        ],
        "additionalProperties": false
      },
      "Formation": {
        "type": "object",
        "properties": {
          "ideaType": {
            "type": "string",
            "enum": [
              "formation"
            ],
            "description": "Le type labonnealternance d'objet, ici la seule valeur possible est 'formation'",
            "example": "formation"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Le titre de la formation",
            "example": "CAP Monteur en Installation Thermique"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "place": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Place"
              },
              {
                "description": "Le lieu de formation"
              }
            ]
          },
          "company": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "La raison sociale de l'entreprise",
                "example": "ECOLE DE TRAVAIL ORT"
              },
              "siret": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^[0-9]{14}$",
                "description": "Le numéro de SIRET de l'établissement",
                "example": "78424186100011"
              },
              "size": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "La tranche d'effectifs de l'entreprise"
              },
              "logo": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "L'url du logo de l'entreprise"
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "La description de l'entreprise"
              },
              "socialNetwork": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Un lien vers un réseau social présentant l'entreprise"
              },
              "url": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Un lien vers le site de l'entreprise"
              },
              "id": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Lieu de formation seulement : l'identifiant du lieu de formation"
              },
              "uai": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Lieu de formation seulement : l'uai du lieu de formation"
              },
              "place": {
                "$ref": "#/components/schemas/Place"
              },
              "mandataire": {
                "type": [
                  "boolean",
                  "null"
                ],
                "description": "Indique si l'offre est déposée par un CFA mandataire (offres Matcha seulement)"
              },
              "creationDate": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "headquarter": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "siret": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[0-9]{14}$",
                    "description": "Le numéro de SIRET de l'établissement",
                    "example": "78424186100011"
                  },
                  "id": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : l'identifiant de l'établissement gestionnaire"
                  },
                  "uai": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : l'uai de l'établissement gestionnaire"
                  },
                  "type": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : le type de l'établissement gestionnaire"
                  },
                  "hasConvention": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Lieu de formation seulement : indique si l'établissement gestionnaire est conventionné"
                  },
                  "place": {
                    "$ref": "#/components/schemas/Place"
                  },
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "La raison sociale du centre de formation auquel est affilié la formation",
                    "example": "ECOLE DE TRAVAIL ORT"
                  }
                },
                "required": [
                  "siret",
                  "id",
                  "uai",
                  "type",
                  "hasConvention",
                  "place",
                  "name"
                ],
                "additionalProperties": false
              },
              "opco": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "url": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "label",
                  "url"
                ],
                "additionalProperties": false
              }
            },
            "additionalProperties": false,
            "description": "Les informations de la société. Selon le contexte il peut s'agir du centre de formation ou de l'entreprise offrant une opportunité d'emploi."
          },
          "longTitle": {
            "type": [
              "string",
              "null"
            ],
            "description": "Le titre en version longue de la formation",
            "example": "MONTEUR EN INSTALLATIONS THERMIQUES (CAP)"
          },
          "id": {
            "type": [
              "string",
              "null"
            ],
            "description": "L'identifiant de la formation dans le catalogue du Réseau des Carif-Oref.",
            "example": "5e8dfad720ff3b2161269d86"
          },
          "idRco": {
            "type": [
              "string",
              "null"
            ]
          },
          "idRcoFormation": {
            "type": [
              "string",
              "null"
            ]
          },
          "cleMinistereEducatif": {
            "type": [
              "string",
              "null"
            ]
          },
          "diplomaLevel": {
            "type": [
              "string",
              "null"
            ],
            "description": "Le niveau de la formation.",
            "example": "3 (CAP...)"
          },
          "diploma": {
            "type": [
              "string",
              "null"
            ],
            "description": "Le diplôme délivré par la formation.",
            "example": "CERTIFICAT D'APTITUDES PROFESSIONNELLES"
          },
          "cfd": {
            "type": [
              "string",
              "null"
            ],
            "description": "Le code formation diplôme de l'éducation nationale.",
            "example": "50023324"
          },
          "rncpCode": {
            "type": [
              "string",
              "null"
            ],
            "description": "Le code RNCP.",
            "example": "RNCP31899"
          },
          "rncpLabel": {
            "type": [
              "string",
              "null"
            ],
            "description": "L'intitulé RNCP.",
            "example": "Intégrateur - Développeur Web"
          },
          "rncpEligibleApprentissage": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Indique si le titre RNCP est éligible en apprentissage.",
            "example": true
          },
          "period": {
            "type": [
              "string",
              "null"
            ]
          },
          "capacity": {
            "type": [
              "string",
              "null"
            ],
            "description": "Capacité d'accueil.",
            "example": "15"
          },
          "onisepUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Le lien vers la description de la formation sur le site de l'ONISEP",
            "example": "http://www.onisep.fr/http/redirection/formation/identifiant/7872"
          },
          "romes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Rome"
            }
          },
          "training": {
            "$ref": "#/components/schemas/Training"
          }
        },
        "required": [
          "ideaType",
          "contact",
          "place",
          "company",
          "id",
          "idRco",
          "idRcoFormation",
          "cleMinistereEducatif",
          "diploma",
          "cfd",
          "rncpCode",
          "rncpLabel",
          "period",
          "capacity",
          "onisepUrl",
          "romes",
          "training"
        ],
        "additionalProperties": false
      },
      "ApplicationUi": {
        "type": "object",
        "properties": {
          "applicant_email": {
            "type": "string",
            "format": "email",
            "description": "L'adresse email du candidat à laquelle l'entreprise contactée pourra répondre. Les adresses emails temporaires ne sont pas acceptées.",
            "example": "john.smith@mail.com"
          },
          "applicant_first_name": {
            "type": "string",
            "maxLength": 50,
            "description": "Le prénom du candidat.",
            "example": "Jean"
          },
          "applicant_last_name": {
            "type": "string",
            "maxLength": 50,
            "description": "Le nom du candidat.",
            "example": "Dupont"
          },
          "applicant_phone": {
            "type": "string",
            "description": "Le numéro de téléphone du candidat.",
            "example": "0101010101"
          },
          "company_siret": {
            "type": "string",
            "pattern": "^[0-9]{14}$",
            "description": "Le siret de l'entreprise. Fourni par La bonne alternance. ",
            "example": "00004993900000"
          },
          "company_email": {
            "type": [
              "string",
              "null"
            ],
            "description": "L'adresse email de la société pour postuler.Uniquement dans un cas de test",
            "example": "fake@dummy.com"
          },
          "company_name": {
            "type": "string",
            "description": "Le nom de la société. Fourni par La bonne alternance. ",
            "example": "Au bon pain d'antan"
          },
          "company_naf": {
            "type": "string",
            "description": "La valeur associée au code NAF de l'entreprise. Fournie par La bonne alternance. ",
            "example": "Boulangerie et boulangerie-pâtisserie"
          },
          "company_address": {
            "type": [
              "string",
              "null"
            ],
            "description": "L'adresse postale de la société. Fournie par La bonne alternance. (champs : place.fullAddress)",
            "example": "38 RUE DES HAMECONS, 75021 PARIS-21"
          },
          "job_title": {
            "type": "string",
            "description": "Le titre de l'offre La bonne alternance Recruteur pour laquelle la candidature est envoyée. Seulement si le type de la société (company_type) est offres_emploi_lba . La valeur est fournie par La bonne alternance. ",
            "example": "Téléconseil, vente à distance"
          },
          "job_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "L'identifiant de l'offre La bonne alternance Recruteur pour laquelle la candidature est envoyée. Seulement si le type de la société (company_type) est offres_emploi_lba . La valeur est fournie par La bonne alternance. ",
            "example": "...59c24c059b..."
          },
          "caller": {
            "type": [
              "string",
              "null"
            ],
            "description": "Votre raison sociale ou le nom de votre produit qui fait appel à l'API idéalement préfixé par une adresse email de contact",
            "example": "contact@domaine nom_de_societe"
          },
          "message": {
            "type": [
              "string",
              "null"
            ],
            "description": "Un message du candidat vers le recruteur. Ce champ peut contenir la lettre de motivation du candidat.",
            "example": "Madame, monsieur..."
          },
          "applicant_file_name": {
            "type": "string",
            "pattern": "((.*?))(\\.)+(docx|pdf)$",
            "description": "Le nom du fichier du CV du candidat. Seuls les .docx et .pdf sont autorisés.",
            "example": "cv.pdf"
          },
          "applicant_file_content": {
            "type": "string",
            "maxLength": 4215276,
            "description": "Le contenu du fichier du CV du candidat. La taille maximale autorisée est de 3 Mo.",
            "example": "data:application/pdf;base64,JVBERi0xLjQKJ..."
          },
          "company_type": {
            "type": "string",
            "enum": [
              "formation",
              "recruteurs_lba",
              "offres_emploi_lba",
              "offres_emploi_partenaires"
            ],
            "description": "Le type de société selon la nomenclature La bonne alternance. Fourni par La bonne alternance.",
            "example": "recruteurs_lba"
          },
          "iv": {
            "type": "string",
            "description": "Le vecteur d'initialisation permettant de déchiffrer l'adresse email de la société. Cette valeur est fournie par les apis de LBA.",
            "example": "...59c24c059b..."
          },
          "secret": {
            "type": [
              "string",
              "null"
            ]
          },
          "crypted_company_email": {
            "type": [
              "string",
              "null"
            ]
          },
          "searched_for_job_label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Le métier recherché par le candidat envoyant une candidature spontanée.",
            "example": "Vente de fleurs, végétaux"
          }
        },
        "required": [
          "applicant_email",
          "applicant_first_name",
          "applicant_last_name",
          "applicant_phone",
          "company_siret",
          "company_name",
          "company_naf",
          "job_title",
          "applicant_file_name",
          "applicant_file_content",
          "company_type"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/metiers/metiersParFormation/{cfd}": {
      "get": {
        "description": "Récupérer la liste des noms des métiers du référentiel de La bonne alternance pour une formation donnée",
        "tags": [
          "Metiers"
        ],
        "operationId": "getMetiersParCfd",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "50022137"
            },
            "required": true,
            "description": "L'identifiant CFD de la formation.",
            "name": "cfd",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metiers": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Un nom de métier du référentiel La bonne alternance",
                        "example": "Accueil touristique"
                      },
                      "description": "Un tableau des noms des métiers triés par ordre alphabétique"
                    }
                  },
                  "required": [
                    "metiers"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/metiers/all": {
      "get": {
        "description": "Retourne la liste de tous les métiers référencés sur LBA",
        "tags": [
          "Metiers"
        ],
        "operationId": "getTousLesMetiers",
        "security": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metiers": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Un nom de métier du référentiel La bonne alternance",
                        "example": "Accueil touristique"
                      },
                      "description": "Un tableau des noms des métiers triés par ordre alphabétique"
                    }
                  },
                  "required": [
                    "metiers"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/metiers": {
      "get": {
        "description": "Récupérer la liste des noms des métiers du référentiel de La bonne alternance",
        "tags": [
          "Metiers"
        ],
        "operationId": "getMetiers",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Décoration"
            },
            "required": true,
            "description": "Un terme libre de recherche de métier.",
            "name": "title",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "F1603,I1308"
            },
            "required": false,
            "description": "Une liste de codes ROME séparés par des virgules correspondant au(x) métier(s) recherché(s).",
            "name": "romes",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "RNCP500,RNCP806"
            },
            "required": false,
            "description": "Une liste de codes RNCP séparés par des virgules correspondant au(x) métier(s) recherché(s).",
            "name": "rncps",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "labelsAndRomes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MetierEnrichi"
                      },
                      "description": "Un tableau de métiers correspondantes aux critères"
                    }
                  },
                  "required": [
                    "labelsAndRomes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/metiers/intitule": {
      "get": {
        "description": "Retourne une liste de métiers enrichis avec les codes romes associés correspondant aux critères en paramètres",
        "tags": [
          "Metiers"
        ],
        "operationId": "getCoupleAppellationRomeIntitule",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "le(s) terme(s) de recherche"
            },
            "required": true,
            "name": "label",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "coupleAppellationRomeMetier": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codeRome": {
                            "type": "string"
                          },
                          "intitule": {
                            "type": "string"
                          },
                          "appellation": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "codeRome",
                          "intitule",
                          "appellation"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "coupleAppellationRomeMetier"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/establishment": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "Get existing establishment id from siret & email",
        "security": [
          {
            "api-key": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{14}$",
              "description": "Le numéro de SIRET de l'établissement",
              "example": "78424186100011"
            },
            "required": true,
            "description": "Le numéro de SIRET de l'établissement",
            "name": "establishment_siret",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "email"
            },
            "required": true,
            "description": "Establishment email",
            "name": "email",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Etablishment id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Etablishment id"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/ZLbarError"
                    }
                  ],
                  "description": "Bad Request"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "Create an establishment entity",
        "operationId": "createEstablishment",
        "security": [
          {
            "api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "establishment_siret": {
                    "type": "string",
                    "pattern": "^[0-9]{14}$",
                    "description": "Le numéro de SIRET de l'établissement",
                    "example": "78424186100011"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string",
                    "pattern": "^0[1-9]\\d{8}$"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "idcc": {
                    "type": "string"
                  },
                  "origin": {
                    "type": "string",
                    "description": "always prefixed with you identification name declared at the API user creation. BETA GOUV with an origin set to 'campaign2023' will be betagouv-campaign2023.",
                    "example": "betagouv-campaign2023"
                  }
                },
                "required": [
                  "establishment_siret",
                  "first_name",
                  "last_name",
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recruiter"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/ZLbarError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/bulk": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "Get all jobs related to my organization",
        "operationId": "getJobs",
        "security": [
          {
            "api-key": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "query mongodb query allowing specific filtering, JSON stringified",
            "name": "query",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "{_id: 1, first_name:1, last_name:0}"
            },
            "required": false,
            "description": "select fields to return",
            "name": "select",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "number",
                "null"
              ]
            },
            "required": false,
            "description": "the current page.",
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "number",
                "null"
              ]
            },
            "required": false,
            "description": "the limit of results per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Recruiter"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "number"
                        },
                        "result_per_page": {
                          "type": "number"
                        },
                        "number_of_page": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "pagination"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/delegations/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "getDelegation",
        "description": "Get related training organization related to a job offer.",
        "security": [
          {
            "api-key": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "description": "Identifiant unique"
            },
            "required": false,
            "name": "jobId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "description": "Identifiant unique"
                      },
                      "numero_voie": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "type_voie": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "nom_voie": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "code_postal": {
                        "type": "string"
                      },
                      "nom_departement": {
                        "type": "string"
                      },
                      "entreprise_raison_sociale": {
                        "type": "string"
                      },
                      "geo_coordonnees": {
                        "type": "string"
                      },
                      "distance_en_km": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "code_postal",
                      "nom_departement",
                      "entreprise_raison_sociale",
                      "geo_coordonnees",
                      "distance_en_km"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "4xx": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ZLbarError"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Jobs"
        ],
        "operationId": "createDelegation",
        "description": "Create delegation related to a job offer.",
        "security": [
          {
            "api-key": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "description": "Identifiant unique"
            },
            "required": false,
            "name": "jobId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "establishmentIds": {
                    "type": "array",
                    "items": {
[...]
