{
  "openapi": "3.0.0",
  "info": {
    "title": "Walmart Marketplace API",
    "description": "The Walmart Marketplace API provides resources for seller applications to manage items, orders, prices, promotions, inventory and reports on Walmart.com. The Walmart Developer Center provides all the tools you need to directly integrate with the Walmart Marketplace API.  ",
    "termsOfService": "",
    "version": "",
    "contact": {
      "name": "No Contact",
      "url": "http://example.com",
      "email": "email@example.com"
    },
    "license": {
      "name": "No License",
      "url": "http://example.com"
    }
  },
  "servers": [
    {
      "url": "https://walmart.com"
    }
  ],
  "paths": {
    "/v3/token": {
      "post": {
        "summary": "tokenGeneration_authentication",
        "description": "",
        "operationId": "tokenGeneration_authentication",
        "parameters": []
      }
    },
    "/v3/token/detail": {
      "get": {
        "summary": "tokenDetails_authentication",
        "description": "",
        "operationId": "tokenDetails_authentication",
        "parameters": []
      }
    },
    "/v3/inventory": {
      "put": {
        "summary": "updateInventory",
        "description": "",
        "operationId": "updateInventory",
        "parameters": [
          {
            "name": "sku",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/feeds": {
      "post": {
        "summary": "bulkUpdateInventory",
        "description": "",
        "operationId": "bulkUpdateInventory",
        "parameters": [
          {
            "name": "feedType",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/feeds/FC4F94399E484738AE1F84037AF3F8BD@AQQBAgA": {
      "get": {
        "summary": "getFeedStatusWODetails",
        "description": "",
        "operationId": "getFeedStatusWODetails",
        "parameters": []
      }
    },
    "/v3/items": {
      "get": {
        "summary": "getAllItemsWithNextCursor",
        "description": "",
        "operationId": "getAllItemsWithNextCursor",
        "parameters": [
          {
            "name": "nextCursor",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/items/97964_KFTest": {
      "get": {
        "summary": "getItem",
        "description": "",
        "operationId": "getItem",
        "parameters": []
      }
    },
    "/v3/items/A170257H8J6W5491": {
      "delete": {
        "summary": "retireItem",
        "description": "",
        "operationId": "retireItem",
        "parameters": []
      }
    },
    "/v3/price": {
      "put": {
        "summary": "updatePrice",
        "description": "",
        "operationId": "updatePrice",
        "parameters": []
      }
    },
    "/v3/cppreference": {
      "post": {
        "summary": "setupCAPskuAll",
        "description": "",
        "operationId": "setupCAPskuAll",
        "parameters": []
      }
    },
    "/v3/promo/sku/97964_KFTest": {
      "get": {
        "summary": "getPromoPrice",
        "description": "",
        "operationId": "getPromoPrice",
        "parameters": []
      }
    },
    "/v3/orders/released": {
      "get": {
        "summary": "getAllReleasedOrders",
        "description": "",
        "operationId": "getAllReleasedOrders",
        "parameters": [
          {
            "name": "createdStartDate",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdEndDate",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/orders": {
      "get": {
        "summary": "getAllOrders",
        "description": "",
        "operationId": "getAllOrders",
        "parameters": [
          {
            "name": "createdStartDate",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/orders/4793302295726": {
      "get": {
        "summary": "getOrder",
        "description": "",
        "operationId": "getOrder",
        "parameters": []
      }
    },
    "/v3/orders/4793302295726/acknowledge": {
      "post": {
        "summary": "ackOrder",
        "description": "",
        "operationId": "ackOrder",
        "parameters": []
      }
    },
    "/v3/orders/2793302065989/cancel": {
      "post": {
        "summary": "cancelOrderLine",
        "description": "",
        "operationId": "cancelOrderLine",
        "parameters": []
      }
    },
    "/v3/orders/2577453162650/refund": {
      "post": {
        "summary": "refundOrderLine",
        "description": "",
        "operationId": "refundOrderLine",
        "parameters": []
      }
    },
    "/v3/orders/1577424042579/shipping": {
      "post": {
        "summary": "shippingOrderLine",
        "description": "",
        "operationId": "shippingOrderLine",
        "parameters": []
      }
    },
    "/v3/returns": {
      "get": {
        "summary": "getReturns",
        "description": "",
        "operationId": "getReturns",
        "parameters": [
          {
            "name": "nextCursor",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/returns/1535274411287/refund": {
      "post": {
        "summary": "issueRefund",
        "description": "",
        "operationId": "issueRefund",
        "parameters": []
      }
    },
    "/v3/lagtime": {
      "get": {
        "summary": "getLagtime",
        "description": "",
        "operationId": "getLagtime",
        "parameters": [
          {
            "name": "sku",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/getReport": {
      "get": {
        "summary": "getItemReport",
        "description": "",
        "operationId": "getItemReport",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/rules/create": {
      "post": {
        "summary": "createItemRule",
        "description": "",
        "operationId": "createItemRule",
        "parameters": []
      }
    },
    "/v3/rules": {
      "get": {
        "summary": "getAllRules",
        "description": "",
        "operationId": "getAllRules",
        "parameters": []
      }
    },
    "/v3/rules/actions": {
      "put": {
        "summary": "updateShippingAreasToRules",
        "description": "",
        "operationId": "updateShippingAreasToRules",
        "parameters": []
      }
    },
    "/v3/rules/{ruleId}/status/{ruleStatus}": {
      "delete": {
        "summary": "deleteRule",
        "description": "",
        "operationId": "deleteRule",
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleStatus",
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/rules/inactivate": {
      "put": {
        "summary": "inactivateRule",
        "description": "",
        "operationId": "inactivateRule",
        "parameters": []
      }
    },
    "/v3/rules/exceptions": {
      "post": {
        "summary": "createOverrideExceptions",
        "description": "",
        "operationId": "createOverrideExceptions",
        "parameters": []
      }
    },
    "/v3/settings/rules/exceptions": {
      "put": {
        "summary": "deleteExceptions",
        "description": "",
        "operationId": "deleteExceptions",
        "parameters": []
      }
    },
    "/v3/rules/assortment": {
      "put": {
        "summary": "changeAssortmentType",
        "description": "",
        "operationId": "changeAssortmentType",
        "parameters": [
          {
            "name": "enable",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/rules/39/status/{ruleStatus}": {
      "get": {
        "summary": "getARules",
        "description": "",
        "operationId": "getARules",
        "parameters": [
          {
            "name": "ruleStatus",
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/rules/{ruleId}/status/{ruleStatus}/simulationcount": {
      "get": {
        "summary": "getSimulationResult",
        "description": "",
        "operationId": "getSimulationResult",
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleStatus",
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/rules/{ruleId}/status/{ruleStatus}/simulation": {
      "get": {
        "summary": "downloadSimulationResult",
        "description": "",
        "operationId": "downloadSimulationResult",
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleStatus",
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/rules/downloadexceptions": {
      "get": {
        "summary": "downloadExceptions",
        "description": "",
        "operationId": "downloadExceptions",
        "parameters": []
      }
    },
    "/v3/rules/subcategories": {
      "get": {
        "summary": "getAllSubCategories",
        "description": "",
        "operationId": "getAllSubCategories",
        "parameters": []
      }
    },
    "/v3/rules/areas": {
      "get": {
        "summary": "getAllAreas",
        "description": "",
        "operationId": "getAllAreas",
        "parameters": []
      }
    },
    "//v3/settings/shipping/shipnodes": {
      "post": {
        "summary": "createFulfillmentCenter",
        "description": "createFulfillmentCenter",
        "operationId": "createFulfillmentCenter",
        "parameters": []
      }
    },
    "/v3/settings/shipping/3plshipnodes": {
      "post": {
        "summary": "createThirdPartyFulfillmentNode",
        "description": "createThirdPartyFulfillmentNode",
        "operationId": "createThirdPartyFulfillmentNode",
        "parameters": []
      }
    },
    "/v3/settings/shipping/shipnodes": {
      "put": {
        "summary": "updateAFulfillmentCenter",
        "description": "updateAFulfillmentCenter",
        "operationId": "updateAFulfillmentCenter",
        "parameters": []
      }
    },
    "/v3/settings/shipping/3plproviders": {
      "get": {
        "summary": "getAllThirdPartyFulfillmentProviders",
        "description": "",
        "operationId": "getAllThirdPartyFulfillmentProviders",
        "parameters": []
      }
    },
    "/v3/settings/shipping/carriers": {
      "get": {
        "summary": "getCarrierMethods",
        "description": "",
        "operationId": "getCarrierMethods",
        "parameters": []
      }
    },
    "/v3/settings/shipping/shipnodes/coverage": {
      "get": {
        "summary": "getCoverageForFulfillmentCenters",
        "description": "",
        "operationId": "getCoverageForFulfillmentCenters",
        "parameters": []
      }
    }
  },
  "components": {
    "schemas": {
      "updateInventoryRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "updateInventoryRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "sku": {
        "type": "string",
        "description": ""
      },
      "quantity": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "quantity": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "fulfillmentLagTime": {
        "type": "string",
        "description": ""
      },
      "unit": {
        "type": "string",
        "description": ""
      },
      "amount": {
        "type": "number",
        "description": ""
      },
      "bulkUpdateInventoryRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "bulkUpdateInventoryRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "InventoryHeader": {
        "type": "",
        "description": "",
        "properties": {
          "InventoryHeader": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "Inventory": {
        "type": "object",
        "description": "",
        "properties": {
          "Inventory": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "version": {
        "type": "string",
        "description": ""
      },
      "bulkUploadItemRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "bulkUploadItemRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "MPItemFeedHeader": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "MPItemFeedHeader": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "MPItem": {
        "type": "object",
        "description": "",
        "properties": {
          "MPItem": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "requestId": {
        "type": "string",
        "description": ""
      },
      "requestBatchId": {
        "type": "string",
        "description": ""
      },
      "processMode": {
        "type": "string",
        "description": ""
      },
      "feedDate": {
        "type": "string",
        "description": ""
      },
      "productIdentifiers": {
        "type": "array",
        "description": ""
      },
      "MPProduct": {
        "type": "",
        "description": "",
        "properties": {
          "MPProduct": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "MPOffer": {
        "type": "",
        "description": "",
        "properties": {
          "MPOffer": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "ProductIdentifier": {
        "type": "object",
        "description": "",
        "properties": {
          "ProductIdentifier": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "productIdType": {
        "type": "string",
        "description": ""
      },
      "productId": {
        "type": "string",
        "description": ""
      },
      "SkuUpdate": {
        "type": "string",
        "description": ""
      },
      "productName": {
        "type": "string",
        "description": ""
      },
      "ProductIdUpdate": {
        "type": "string",
        "description": ""
      },
      "category": {
        "type": "",
        "description": "",
        "properties": {
          "category": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "Animal": {
        "type": "",
        "description": "",
        "properties": {
          "Animal": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "AnimalHealthAndGrooming": {
        "type": "",
        "description": "",
        "properties": {
          "AnimalHealthAndGrooming": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "shortDescription": {
        "type": "string",
        "description": ""
      },
      "brand": {
        "type": "string",
        "description": ""
      },
      "manufacturer": {
        "type": "string",
        "description": ""
      },
      "manufacturerPartNumber": {
        "type": "string",
        "description": ""
      },
      "mainImageUrl": {
        "type": "string",
        "description": ""
      },
      "isProp65WarningRequired": {
        "type": "string",
        "description": ""
      },
      "hasPricePerUnit": {
        "type": "string",
        "description": ""
      },
      "hasWarranty": {
        "type": "string",
        "description": ""
      },
      "hasExpiration": {
        "type": "string",
        "description": ""
      },
      "isNutritionFactsLabelRequired": {
        "type": "string",
        "description": ""
      },
      "hasIngredientList": {
        "type": "string",
        "description": ""
      },
      "isDrugFactsLabelRequired": {
        "type": "string",
        "description": ""
      },
      "price": {
        "type": "number",
        "description": ""
      },
      "ShippingWeight": {
        "type": "",
        "description": "",
        "properties": {
          "ShippingWeight": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "ProductTaxCode": {
        "type": "integer",
        "description": ""
      },
      "measure": {
        "type": "integer",
        "description": ""
      },
      "bulkUploadItemCopyRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "bulkUploadItemCopyRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "itemsetupbymatchrequest": {
        "type": "object",
        "description": "",
        "properties": {
          "itemsetupbymatchrequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "updatePriceRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "updatePriceRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "pricing": {
        "type": "",
        "description": ""
      },
      "Pricing": {
        "type": "object",
        "description": "",
        "properties": {
          "Pricing": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "currentPriceType": {
        "type": "string",
        "description": ""
      },
      "currentPrice": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "currentPrice": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "currency": {
        "type": "string",
        "description": ""
      },
      "bulkUpdatePriceRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "bulkUpdatePriceRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "PriceHeader": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "PriceHeader": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "Price": {
        "type": "",
        "description": "",
        "properties": {
          "Price": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "Pricing1": {
        "type": "object",
        "description": "",
        "properties": {
          "Pricing1": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "comparisonPriceType": {
        "type": "string",
        "description": ""
      },
      "comparisonPrice": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "comparisonPrice": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "setupCAPskuAllRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "setupCAPskuAllRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "statusInfo": {
        "type": "",
        "description": "",
        "properties": {
          "statusInfo": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "subsidyEnrolled": {
        "type": "",
        "description": "",
        "properties": {
          "subsidyEnrolled": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "value": {
        "type": "string",
        "description": "",
        "properties": {
          "value": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "PriceFeed": {
        "type": "object",
        "description": "",
        "properties": {
          "PriceFeed": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "PriceHeader1": {
        "type": "object",
        "description": "",
        "properties": {
          "PriceHeader1": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "Price1": {
        "type": "object",
        "description": "",
        "properties": {
          "Price1": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "itemIdentifier": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "itemIdentifier": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "pricingList": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "pricingList": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "pricing2": {
        "type": "object",
        "description": "",
        "properties": {
          "pricing2": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "currentPrice2": {
        "type": "object",
        "description": "",
        "properties": {
          "currentPrice2": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "PriceFeed1": {
        "type": "object",
        "description": "",
        "properties": {
          "PriceFeed1": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "PriceHeader2": {
        "type": "object",
        "description": "",
        "properties": {
          "PriceHeader2": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "Price2": {
        "type": "object",
        "description": "",
        "properties": {
          "Price2": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "pricingList1": {
        "type": "object",
        "description": "",
        "properties": {
          "pricingList1": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "replaceAll": {
        "type": "boolean",
        "description": ""
      },
      "pricing3": {
        "type": "object",
        "description": "",
        "properties": {
          "pricing3": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "effectiveDate": {
        "type": "string",
        "description": ""
      },
      "expirationDate": {
        "type": "string",
        "description": ""
      },
      "currentPrice3": {
        "type": "object",
        "description": "",
        "properties": {
          "currentPrice3": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "value1": {
        "type": "object",
        "description": "",
        "properties": {
          "value1": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "comparisonPrice1": {
        "type": "object",
        "description": "",
        "properties": {
          "comparisonPrice1": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "updatePromoPriceRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "updatePromoPriceRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "Pricing4": {
        "type": "object",
        "description": "",
        "properties": {
          "Pricing4": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "priceDisplayCodes": {
        "type": "string",
        "description": ""
      },
      "ComparisonPrice2": {
        "type": "object",
        "description": "",
        "properties": {
          "ComparisonPrice2": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "cancelOrderLineRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "cancelOrderLineRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "orderCancellation": {
        "type": "",
        "description": "",
        "properties": {
          "orderCancellation": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "orderLines": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "orderLines": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "orderLine": {
        "type": "array",
        "description": ""
      },
      "OrderLine": {
        "type": "object",
        "description": "",
        "properties": {
          "OrderLine": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "lineNumber": {
        "type": "string",
        "description": ""
      },
      "orderLineStatuses": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "orderLineStatuses": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "orderLineStatus": {
        "type": "array",
        "description": ""
      },
      "OrderLineStatus": {
        "type": "object",
        "description": "",
        "properties": {
          "OrderLineStatus": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "status": {
        "type": "string",
        "descriptin": ""
      },
      "cancellationReason": {
        "type": "string",
        "description": ""
      },
      "statusQuantity": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "statusQuantity": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "unitOfMeasurement": {
        "type": "string",
        "description": ""
      },
      "refundOrderLineRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "refundOrderLineRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "orderRefund": {
        "type": "",
        "description": "",
        "properties": {
          "orderRefund": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "purchaseOrderId": {
        "type": "string",
        "description": ""
      },
      "OrderLines1": {
        "type": "object",
        "description": "",
        "properties": {
          "OrderLines1": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "OrderLine1": {
        "type": "object",
        "description": "",
        "properties": {
          "OrderLine1": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "refunds": {
        "type": "",
        "description": "",
        "properties": {
          "refunds": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "refund": {
        "type": "array",
        "description": ""
      },
      "Refund": {
        "type": "object",
        "description": "",
        "properties": {
          "Refund": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "refundComments": {
        "type": "string",
        "description": ""
      },
      "refundCharges": {
        "type": "",
        "description": "",
        "properties": {
          "refundCharges": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "refundCharge": {
        "type": "array",
        "description": ""
      },
      "RefundCharge": {
        "type": "object",
        "description": "",
        "properties": {
          "RefundCharge": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "refundReason": {
        "type": "string",
        "description": ""
      },
      "charge": {
        "type": "",
        "description": "",
        "properties": {
          "charge": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "chargeType": {
        "type": "string",
        "description": ""
      },
      "chargeName": {
        "type": "string",
        "description": ""
      },
      "chargeAmount": {
        "type": "",
        "description": "",
        "properties": {
          "chargeAmount": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "tax": {
        "type": "",
        "description": "",
        "properties": {
          "tax": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "taxName": {
        "type": "string",
        "description": ""
      },
      "taxAmount": {
        "type": "object",
        "description": ""
      },
      "shippingOrderLineRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "shippingOrderLineRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "orderShipment": {
        "type": "",
        "description": "",
        "properties": {
          "orderShipment": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "OrderLines2": {
        "type": "object",
        "description": "",
        "properties": {
          "OrderLines2": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "OrderLine2": {
        "type": "object",
        "description": "",
        "properties": {
          "OrderLine2": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "OrderLineStatuses1": {
        "type": "object",
        "description": "",
        "properties": {
          "OrderLineStatuses1": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "OrderLineStatus1": {
        "type": "object",
        "description": "",
        "properties": {
          "OrderLineStatus1": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "trackingInfo": {
        "type": "",
        "description": "",
        "properties": {
          "trackingInfo": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "shipDateTime": {
        "type": "integer",
        "description": ""
      },
      "carrierName": {
        "type": "",
        "description": "",
        "properties": {
          "carrierName": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "methodCode": {
        "type": "string",
        "description": ""
      },
      "trackingNumber": {
        "type": "string",
        "description": ""
      },
      "trackingURL": {
        "type": "string",
        "description": ""
      },
      "otherCarrier": {
        "type": "string",
        "description": ""
      },
      "carrier": {
        "type": "string",
        "description": ""
      },
      "bulkItemOverridesRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "bulkItemOverridesRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "header": {
        "type": "",
        "description": "",
        "properties": {
          "header": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "overrideFeed": {
        "type": "array",
        "description": ""
      },
      "OverrideFeed": {
        "type": "object",
        "description": "",
        "properties": {
          "OverrideFeed": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "overrides": {
        "type": "",
        "description": "",
        "properties": {
          "overrides": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "returnCenterAlias": {
        "type": "string",
        "description": ""
      },
      "issueRefundRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "issueRefundRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "customerOrderId": {
        "type": "string",
        "description": ""
      },
      "refundLines": {
        "type": "array",
        "description": ""
      },
      "RefundLine": {
        "type": "object",
        "description": "",
        "properties": {
          "RefundLine": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "returnOrderLineNumber": {
        "type": "integer",
        "description": ""
      },
      "updateLagtimeRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "updateLagtimeRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "LagTimeHeader": {
        "type": "",
        "description": "",
        "properties": {
          "LagTimeHeader": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "lagTime": {
        "type": "array",
        "description": ""
      },
      "LagTime": {
        "type": "object",
        "description": "",
        "properties": {
          "LagTime": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "createItemRuleRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "createItemRuleRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "ruleHeader": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "ruleHeader": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "rules": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "rules": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "name": {
        "type": "string",
        "description": ""
      },
      "description": {
        "type": "string",
        "description": ""
      },
      "priority": {
        "type": "string",
        "description": ""
      },
      "conditions": {
        "type": "array",
        "description": ""
      },
      "Condition": {
        "type": "object",
        "description": "",
        "properties": {
          "Condition": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "operator": {
        "type": "string",
        "description": ""
      },
      "updateShippingAreasToRulesRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "updateShippingAreasToRulesRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "Rules1": {
        "type": "object",
        "description": "",
        "properties": {
          "Rules1": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "ruleId": {
        "type": "string",
        "description": ""
      },
      "ruleStatus": {
        "type": "string",
        "description": ""
      },
      "actions": {
        "type": "array",
        "description": ""
      },
      "Action": {
        "type": "object",
        "description": "",
        "properties": {
          "Action": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "twoDayShippingRegions": {
        "type": "array",
        "description": ""
      },
      "TwoDayShippingRegion": {
        "type": "object",
        "description": "",
        "properties": {
          "TwoDayShippingRegion": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "regionCode": {
        "type": "string",
        "description": ""
      },
      "subRegions": {
        "type": "array",
        "description": ""
      },
      "SubRegion": {
        "type": "object",
        "description": "",
        "properties": {
          "SubRegion": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "subRegionCode": {
        "type": "string",
        "description": ""
      },
      "activateRuleRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "activateRuleRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "Rules2": {
        "type": "object",
        "description": "",
        "properties": {
          "Rules2": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "updateRuleRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "updateRuleRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "Rules3": {
        "type": "object",
        "description": "",
        "properties": {
          "Rules3": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "inactivateRuleRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "inactivateRuleRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "createOverrideExceptionsRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "createOverrideExceptionsRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "Rules5": {
        "type": "object",
        "description": "",
        "properties": {
          "Rules5": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "skus": {
        "type": "array",
        "description": ""
      },
      "Sku": {
        "type": "object",
        "description": "",
        "properties": {
          "Sku": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "deleteExceptionsRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "deleteExceptionsRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "createFulfillmentCenterRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "createFulfillmentCenterRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "shipNodeHeader": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "shipNodeHeader": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "shipNode": {
        "type": "",
        "description": ""
      },
      "ShipNode": {
        "type": "object",
        "description": "",
        "properties": {
          "ShipNode": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "shipNodeName": {
        "type": "string",
        "description": ""
      },
      "timeZone": {
        "type": "string",
        "description": ""
      },
      "distributorSupportedServices": {
        "type": "array",
        "description": ""
      },
      "customNodeId": {
        "type": "string",
        "description": ""
      },
      "postalAddress": {
        "type": "object",
        "description": "Reference",
        "properties": {
          "postalAddress": {
            "type": "object",
            "description": "Reference",
            "format": null
          }
        }
      },
      "shippingDetails": {
        "type": "array",
        "description": ""
      },
      "addressLine1": {
        "type": "string",
        "description": ""
      },
      "city": {
        "type": "string",
        "description": ""
      },
      "state": {
        "type": "string",
        "description": ""
      },
      "country": {
        "type": "string",
        "description": ""
      },
      "postalCode": {
        "type": "string",
        "description": ""
      },
      "ShippingDetail": {
        "type": "object",
        "description": "",
        "properties": {
          "ShippingDetail": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "twoDayShipping": {
        "type": "array",
        "description": ""
      },
      "TwoDayShipping": {
        "type": "object",
        "description": "",
        "properties": {
          "TwoDayShipping": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "carrierMethodName": {
        "type": "string",
        "description": ""
      },
      "carrierMethodType": {
        "type": "string",
        "description": ""
      },
      "createThirdPartyFulfillmentNodeRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "createThirdPartyFulfillmentNodeRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "ShipNode1": {
        "type": "object",
        "description": "",
        "properties": {
          "ShipNode1": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "updateAFulfillmentCenterRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "updateAFulfillmentCenterRequest": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "ShipNode2": {
        "type": "object",
        "description": "",
        "properties": {
          "ShipNode2": {
            "type": "object",
            "description": "",
            "format": null
          }
        }
      },
      "feedType": {
        "type": "string",
        "description": ""
      },
      "nextCursor": {
        "type": "string",
        "description": ""
      },
      "createdStartDate": {
        "type": "string",
        "description": ""
      },
      "createdEndDate": {
        "type": "string",
        "description": ""
      },
      "type": {
        "type": "string",
        "description": ""
      },
      "enable": {
        "type": "string",
        "description": ""
      }
    }
  }
}
